@page
@model BugZapper.Pages.Teams.DetailsModel

@{
    ViewData["Title"] = @Model.Team.TeamName;
}

@if (Model.Team != null)
{
    <h1>@Model.Team.TeamName</h1>
    <h4>Some description goes here</h4>
    <br />

    <div class="row">
        <div class="col-md-12 card">
            <h1 style="margin-top: 20px">Projects</h1>

            @if (Model.Team.Projects.Count != 0)
            {
                @foreach (var proj in Model.Team.Projects)
                {
                    <div class="card bg-secondary mb-3">
                        <div class="card-header">@proj.ProjName</div>
                        <div class="card-body">
                            <p class="card-text">Created by: @proj.CreatedBy</p>
                            <p class="card-text">@proj.Description</p>
                        </div>
                    </div>
                }
            }
            else
            {
                <h4>This team doesn't have any projects to show</h4>
            }
        </div>
    </div>
}
else
{
    <h1>Team could not be found.</h1>
    <h3>This team may have their profile set to private.</h3>
}

