@page
@using Microsoft.AspNetCore.Identity
@model BugZapper.Pages.User.ProfileModel
@{
    ViewData["Title"] = "UserProfile";
}

@if (Model.ID != null)
{
    <h1>@Model.FoundUser.UserName</h1>
    <h3>@Model.FoundUser.FirstName</h3>
    <h3>@Model.FoundUser.LastName</h3>
    <h4>@Model.FoundUser.Bio</h4>
    <h4>@Model.FoundUser.Company</h4>
    <h4>@Model.FoundUser.Role</h4>
    <h4>@Model.FoundUser.Location</h4>
    <h4>@Model.FoundUser.Website</h4>
}
else
{
    <h1>User could not be found</h1>
    <h3>This user may have their profile set to private or their account cannot be found</h3>
}

